@import "src/themeColors";

#course_list {
	.example-table-container {
		// max-width: 1000px;
		margin: 30px auto;
	}

	.mat-row {
		cursor: pointer;

		&:hover {
			background-color: $primaryLighten4;
		}
	}
	
	.mat-cell {
		padding-right: 20px;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	
	.mat-header-cell.mat-sort-header-sorted {
	  color: black;
	}
	
	.example-header {
		background-color: white;
		min-height: 64px;
		padding: 8px 24px 0;
	}
	
	.mat-form-field {
		font-size: 14px;
		width: 100%;
	}	
}
