<div id="paper_list">
	<div class="example-table-container mat-elevation-z8">

        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Suchbegriff eingeben">
            </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

            <ng-container matColumnDef="paperTitle">
                <mat-header-cell *matHeaderCellDef mat-sort-header="paperTitle"> Titel </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.paperTitle}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="topic">
                <mat-header-cell *matHeaderCellDef mat-sort-header="topic"> Kategorie </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.topic}} </mat-cell>
			</ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row (click)="showPaper(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>