$primary: #9E9E9E;
$primaryLighten1: #BDBDBD;
$primaryLighten2: #E0E0E0;
$primaryLighten3: #EEEEEE;
$primaryLighten4: #F5F5F5;
$primaryLighten5: #FAFAFA;
$primaryDarken1: #757575;
$primaryDarken2: #616161;
$primaryDarken3: #424242;
$primaryDarken4: #212121;

$accent: #4CAF50;
$accentLighten1: #66BB6A;
$accentLighten2: #81C784;
$accentLighten3: #A5D6A7;
$accentLighten4: #C8E6C9;
$accentLighten5: #E8F5E9;
$accentDarken1: #43A047;
$accentDarken2: #388E3C;
$accentDarken3: #2E7D32;
$accentDarken4: #1B5E20;
$accentAccent1: #B9F6CA;
$accentAccent2: #69F0AE;
$accentAccent3: #00E676;
$accentAccent4: #00C853;